---
const data = Astro.props;
const { title, slug, cover, style, scope, project_color, collection } = data; // Include the style prop
---

<div class="project-card" style={style}>
  <a href={`/${collection}/` + slug} data-color={project_color}>
    <img src={cover} />
    <div class="card-label drop-down">
      <h4>
        {title}
      </h4>
      <div class="scope">{scope.join(" / ")}</div>
    </div>
  </a>
</div>
