--- 
const data = Astro.props;
const { title, slug, cover, style, scope, project_color, collection } = data;  // Include the style prop
---
<div class="project-card" style={style}> <!-- Apply the style here -->
  <a href={`/${collection}/`+slug} data-color={project_color}>
  <h4 transition:name={`project-title-${slug}`}>
      <img transition:name={`project-cover-${slug}`} src={cover} />
      {title}
      <div class="scope">{scope.join(" / ")}</div>
    </h4>
  </a>
</div>

<style>
.project-card {
    position: sticky;
    top: var(--top-offset, 9);  /* Fall back to 9rem if no top is set */
    background: var(--bg-clr);
  }
  
  .project-card:not(:first-of-type) {
    margin-top: 15rem;
  }
  
  .project-card img {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    aspect-ratio: 3/2;
  }
</style>
