---
import { getCollection } from 'astro:content';
import ProjectCard from '../components/project-card.astro';
const projects = await getCollection('projects');
const sortedItems = projects.sort((a, b) => a.data.order - b.data.order);
---

<div class="projects">
    <h2 class="work-heading">Work</h2>
        {sortedItems.map((i, index) => (
    <ProjectCard
        title={i.data.title}
        slug={i.slug}
        cover={i.data.cover}
        style={`--top-offset: ${13 + index * 1}rem;`}
        scope={i.data.scope}
        project_color={i.data.project_color}
    />
))}
</div>

<style>
.projects {
    top: 20rem;
    scroll-snap-type: mandatory;
}

h2 {
    padding-bottom: 2rem;
    position: sticky;
    top: 9rem;
}
</style>
