---
import { getCollection } from "astro:content";
import ProjectCard from "../components/project-card.astro";
const data = Astro.props;
const { cato, catTitle } = data;

const projects = await getCollection(cato);
const sortedItems = projects.sort((a, b) => a.data.order - b.data.order);
---

<h2 class=`${cato}-heading project-cato-heading section-title`>{catTitle}</h2>
{
  sortedItems.map((i, index) => (
    <ProjectCard
      title={i.data.title}
      slug={i.slug}
      cover={i.data.cover}
      style={`--top-offset: ${8 + index * 2}rem;`}
      scope={i.data.scope}
      project_color={i.data.project_color}
      collection={i.data.collection}
    />
  ))
}
